.wrapper {
	display: flex;
	justify-content: center;
	padding: 3rem;
	/* max-height: 80%; */
}

/* min/max width and height values in vw/vh to account for device size */
.form-container {
	display: flex;
	justify-content: center;
	/* flex: 1; */
	flex-direction: column;
	justify-content: space-between;
	min-width: 70vw;
	max-width: auto;
	/* max-width: 70%; */
	min-height: 60%;
	/* max-height: 90vh; */
	background: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
}
