.btn {
	width: 100%;
	border: none;
	border-radius: 0 0 1rem 1rem;
	color: #ffffff;
	text-align: center;
	font-size: calc(1.5rem + 0.75vw);
	padding: 3rem;
	background: linear-gradient(180deg, #79d9f1 0%, #44b1df 100%);
	cursor: pointer;
	transition: 220ms all ease-in-out;
}

/* .btn:hover {
	outline-style: solid;
	outline-color: #44b1df;
} */
