/* grouping of form-group classes */
.form-fields {
	border: none;
	padding: 0 4rem;
	width: 100%;
}

.form-input {
	border: none;
	display: block;
	font-size: calc(1rem + 0.5vw);
	line-height: 1.5;
	color: #111d35;
	padding: 0.5rem 0;
	margin-top: 1.25rem;
	width: 100%;
	border-bottom: 1px solid #c3e4ea;
}

/* placeholder text in form inputs */
::placeholder {
	color: #77a4ac;
}

.form-input:focus,
.form-input:hover {
	border-bottom: 1px solid #9013fe;
}

/* input:valid {
	background-color: powderblue;
} */

.required-text {
	color: #ff0000;
	font-size: calc(0.75rem + 0.5vw);
	line-height: 1.5;
	padding-top: 0.25rem;
}
