/* grouping of chat bubble icon and h1 */
.form-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0 2rem 0;
}

.chat-bubble-svg {
	display: block;
	margin: auto;
	height: calc(3rem + 1.5vw);
	width: calc(3rem + 1.5vw);
	opacity: 0.35;
}

h1 {
	font-size: calc(2rem + 1.75vw);
}

.form-header {
	font-weight: normal;
	text-align: center;
	color: #22386f;
	margin-top: 1.5rem;
}
