*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	display: flex;
	justify-content: center;
	padding: 6rem;
}

/* min/max width and height values in vw/vh to account for device size */
.form-container {
	/* flex: 1; */
	flex-direction: column;
	justify-content: space-between;
	min-width: 70vw;
	/* max-width: 40%; */
	min-height: 60vh;
	/* max-height: 90vh; */
	background: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
}

#chat-bubble-svg {
	display: block;
	margin: auto;
	height: calc(3.5rem + 2vw);
	width: calc(3.5rem + 2vw);
	opacity: 35%;
}

h1 {
	font-size: calc(2rem + 1.75vw);
}

.form-header {
	font-weight: normal;
	text-align: center;
	color: #22386f;
	margin-top: 1.5rem;
}

/* grouping of chat bubble icon and h1 */
.form-heading {
	padding: 4rem 0;
}

/* grouping of form-group classes */
.form-fields {
	border: 0px solid rgb(243, 163, 14);
	padding: 0 4rem;
	width: 100%;
}

/* grouping of form-input and required-text classes */
.form-group {
	border: 0px dashed rgb(8, 124, 95);
	margin: 1rem 0 0 0;
	line-height: 1.5;
}

.form-input {
	border: 0px solid rgb(44, 67, 199);
	display: block;
	font-size: calc(1rem + 0.5vw);
	padding: 0.5rem 0;
	color: #111d35;
	width: 100%;
	border-bottom: 1px solid #c3e4ea;
}

/* placeholder text in form inputs */
::placeholder {
	color: #77a4ac;
}

.form-input:focus,
.form-input:hover {
	border-bottom: 1px solid #9013fe;
}

/* input:valid {
	background-color: powderblue;
} */

.required-text {
	color: #ff0000;
	font-size: calc(0.75rem + 0.5vw);
	padding-top: 0.25rem;
}

/* terms of service and link styling */
.terms {
	border: 0px solid magenta;
	margin: 2em;
	font-size: calc(0.75rem + 0.5vw);
	line-height: 1rem;
	text-align: center;
	color: #22386f;
}

input[type='checkbox'] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	margin-right: 0.5rem;
}

.terms a {
	color: #22386f;
	text-decoration: underline;
}

.terms a:visited {
	color: #22386f;
	text-decoration: underline;
}

.terms a:hover {
	color: #22386f;
	text-decoration: underline;
}

.terms a:active {
	color: #22386f;
	text-decoration: underline;
}

.btn {
	width: 100%;
	border: none;
	border-radius: 0 0 1rem 1rem;
	color: #ffffff;
	text-align: center;
	font-size: calc(1.5rem + 0.75vw);
	padding: 3rem;
	background: linear-gradient(180deg, #79d9f1 0%, #44b1df 100%);
}

/* ensure that form elements inherit font characteristics, as most browsers use a different font family and size for form elements */
button,
input,
select {
	font-family: inherit;
	font-size: 100%;
}
